@charset "UTF-8";

/* div#pageMenu 시작 */
#pageMenu ul#myPageMenu {
	margin-top: 20px;
	
    justify-content: center;
}

#pageMenu #myPageMenu li.myPageMenuLi:not(:first-child) {
    width: 150px;
    height: 150px;
    padding: 50px 0 0;

    text-align: center;
    
    display: inline-block;
}

#pageMenu #myPageMenu li.myPageMenuLi:first-child {
    margin-right: 50px;
}

#pageMenu #myPageMenu li.myPageMenuLi:first-child img {
   width: 150px;
}

#pageMenu #myPageMenu li.myPageMenuLi:nth-child(2) {
    margin-right: 100px;
}

#pageMenu #myPageMenu .myPageMenuLi Strong {
    display: block;
}

#pageMenu #myPageMenu .myPageMenuLi Strong {
    margin-bottom: 10px;
}

#pageMenu #myPageMenu .myPageMenuLi button {
    width: 100%;    
    
    background-color: #fff;
    cursor: pointer;
}
/* div#pageMenu 끝 */

/* main#main 시작 */
main#main {
    width:1000px;
    margin: 30px auto;
}

/* 메인 메뉴 시작 */
#main #mainNav ul#mainMenu {
    
    text-align: center;
    
    justify-content: center;
}

#main #mainNav #mainMenu li.mainLi {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    
    display: inline-block;
}

#main #mainNav #mainMenu li.mainLi>a, 
#main #mainNav #mainMenu li.mainLi>span {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #000;
    border-collapse: collapse;

    display: inline-block;
    cursor: pointer;
}

#main #mainNav #mainMenu li.mainLi:nth-child(2)>a{
    border-left: none;
}

#main #mainNav #mainMenu .mainLi div.subContainer {
    display: none;
}

#main #mainNav #mainMenu .mainLi .subContainer ul.subMenu {
    border: 1px solid #000;
    border-top: none;
}
#main #mainNav #mainMenu .mainLi .subContainer ul.subMenu:last-child {
     border-right: 1px solid #000;
}
#main #mainNav #mainMenu .mainLi .subContainer .subMenu li.subMenuLi {
    width: 100%;
}

#main #mainNav #mainMenu .mainLi .subContainer .subMenu li.subMenuLi a {
    padding: 10px 0;
    display: inline-block;
}

#main #mainNav #mainMenu .mainLi .subContainer .subMenu li.subMenuLi:first-child{
    border-right: 1px solid #000;
}
#main #mainNav #mainMenu .mainLi .subContainer #subMenuUl li.subMenuLi:nth-child(2){
    border-right: 1px solid #000;
    border-collapse: collapse;
}
.subMenuLila {
  	 border-right: 1px solid #000;
}
/* 메인 메뉴 끝 */

/* 메인 bbs 시작 */

#main div#detailedContent {
    width: 100%;
    margin-bottom: 30px;
}    

/* 메인 bbs 끝 */

/* main#main 끝 */

/* div#detailedContent AJAX 시작 */

.list table {
	width: 100%;
	margin: 0 auto;
    border-collapse: collapse;
}

.list table tbody tr {
    transition: all 1s;
}
.list table tbody tr:hover {
    background-color: rgba(239, 239, 239, 0.31);
}
.list  th,
.list  td {
    font-size: 13.5px;
    text-align: center;
    line-height: 24px;
    padding: 9px 0 8px;
    border-bottom: 1px solid #ddd;  
    
}
.list  th:nth-child(1),
.list  td:nth-child(1)  {
    width: 62px;
}
.list  th:nth-child(2),
.list  td:nth-child(2)  {
    width: 378px;
}

.list  td:nth-child(2) a:hover {
    text-decoration: underline;
}

.list  th:nth-child(3),
.list  td:nth-child(3)  {
    width: 92px;
}

.list  th:nth-child(4),
.list  td:nth-child(4)  {
    width: 112px;
}
.list  th:nth-child(5),
.list  td:nth-child(5)  {
    width: 88px;
}
.list  th:nth-child(6),
.list  td:nth-child(6)  {
    width: 108px;
    padding-right: 28px;
}

/* div#detailedContent AJAX 끝 */