@charset "UTF-8";
@import url(../style_Reset.css);
@import url(../style.css);

/*///////////////// 템플릿 시작 ////////////////////*/
#wrap>main#main {
	padding: 20px;
	margin: 10px 0;
}
#wrap>h1{
	text-align: center;
}
#wrap>h1::after {
	font-size: 24px;
	margin-left: 40px;
}

#main h1{
	text-align: center;
	color: #888;
}


/*///////////////// 템플릿 끝 ////////////////////*/

/*///////////////// 리스트 List.jsp 시작 ////////////////////*/

main.list div#pageInfo {
	width: 100%;
	padding: 2px 10px;
	margin-bottom: 4px;
	justify-content: space-between;
}

main.list table#boardList {
	width: 1000px;
	margin: 20px auto;
	border-collapse: collapse;
}


main.list th {
	padding: 8px 2px;
}

table#boardList th{
	background-color: rgb(136, 136, 136, 0.2);
}


main.list th:first-child {
	width: 70px;
}

main.list th:last-child{
	width: 150px;
}

main.list th:nth-child(3) {
	width: 150px;
}

main.list th:nth-child(4) {
	width: 140px;
}

main.list td.spaceTd {
	padding: 1px 0 ;
	border: none !important;
	background-color: rgb(136, 136, 136, 0.2);
}
main.list tr.prnTr{
	opacity: 60%;
}
main.list tr.prnTr:hover  {
 	opacity: 100%;
	cursor: pointer;
}
main.list tr.prnTr:hover td {
	color: #666;
	font-weight: bold;
}

main.list tr.prnTr>td {
	text-align: center;
	padding: 20px 2px 10px;
	border-bottom: 1px solid #d2d2d2;
}

main.list tr.prnTr>td.subjectTd {
	text-align: left;
}

/*///////////////// 리스트 List.jsp 끝 ////////////////////*/

/*///////////////// 리스트 List.jsp  페이징 시작 ////////////////////*/
main.list td#pagingTd span {
	width: 30px;
	height: 30px;
	font-weight: 12px;
	text-align: center;
	line-height: 30px;
	margin: 10px 2px;
	display: inline-block;
	cursor: pointer;
}

main.list td#pagingTd span:hover {
	color: #aaa;
}

main.list td#pagingTd span.nowPageNum {
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(136, 136, 136, 0.1);
	cursor: default;
}

main.list td#pagingTd span.moveBlockArea {
	width: 30px;
	height: 30px;
	font-size: 12px;
	margin: 0 6px;
	display: inline-block;
}
/*///////////////// 리스트 List.jsp  페이징 끝 ////////////////////*/






