@charset "UTF-8";
@import url(../style_Reset.css);
@import url(../style.css);

div#main{
	width: 1000px;
	margin: 20px auto;
/*    border: 1px solid #000;*/
}

div#details{
	height: 350px;
}

div#thumbnail{
	width: 500px;
	height: 350px;
/*    border: 1px solid #000;*/
}

div#thumbnail td{
	width: 500px;
	height: 350px;
	text-align: center;
}

td.cCategory{
	width: 210px;
	text-align: left;
	font-size: 20px;
	padding: 0px 0px 0px 10px;
}

td.cTitle{
	font-size: 20px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}


td.cContent{
	width: 500px;
	height: 70px;
	text-align: left;
	vertical-align: top;
	padding: 10px 0px 0px 10px;
}

td.persons{
	text-align: center;
}

td.cPrice{
	text-align: left;
	padding: 0px 0px 0px 10px;
}

td.cDelivery{
	text-align: left;
	padding: 0px 0px 0px 10px;
}

div#thumbinfo{
	width: 500px;
	height: 350px;
    border: 1px solid #000;
}

div#thumbinfo table{
	width: 500px;
/*    border: 1px solid #000;*/
}

div#thumbinfo tr, td{
	height: 40px;
    border: 1px solid #000;
}

div#thumbinfo button.like{
	width: 60px;
	height: 60px;
	color: #f44336;
	font-size: 40px;
	float:right;
/*	background-color: #fff; */
	border: 3px solid #f44336;
	background-color: #fff;
}

div#thumbinfo button.buy{
	width: 300px;
	height: 60px;
	font-size: 30px;
	margin-left: 5px;
	border: 3px solid #f44336;
	background-color: #fff;
}

div#thumbinfo button.buy{
	width: 300px;
	height: 60px;
	font-size: 30px;
	margin-left: 5px;
	border: 3px solid #f44336;
	background-color: #fff;
}

div#thumbinfo button.put{
	width: 100px;
	height: 60px;
	font-size: 30px;
	margin-left: 5px;
	border: 3px solid #f44336;
	background-color: #fff;
}

div#teacherbtn{
	width: 1000px;
	height: 70px;
	border: 1px solid #000;
	margin: 20px auto;
}

div#thacherbtn table{
	width: 1000px;
}

div#thacherbtn tr,td{
	width: 500px;
	 text-align: center;
}

button.teacherchoice{
	width: 350px;
	height: 60px;
}

div#boardmenu{
	width: 1000px;
	height: 100px;
	border: 1px solid #000;
	margin: 20px auto;
}

div#boardmenu>ul>li{
	margin: 30px auto;
	font-size: 30px;
}

div#boardmenu ul li.active  {
    color: #f80;
}

div#boardmenu ul li:hover a {
    color: #f80;
}

div#detail_expage{
    width: 1000px;
    height: 100px;
    border: 1px solid #000;
    font-size: 40px;
}


div#info{
	width: 1000px;
	border: 1px solid #000;
}

div#info table{
	width: 1000px;
	border: 1px solid #000;
}


