@charset "UTF-8";
@import url(../style.css);
@import url(../style_Reset.css);


/* ####### div#Gallerybbs 갤러리 리스트 시작   ########*/

div#Gallerybbs{
    width: 1000px;
    /* height: 1000px; */
    /* border: 1px solid #000; */
    margin: 0 auto;
}

/* 카테고리 시작*/
div#category{
    width: 100%;
    height: 80px;
    /* border: 1px solid #000; */
    margin: 10px;
    /* border: 1px solid #000; */
}

/* 카데고리 gnb 시작 */
div#category {
    width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

div#category ul {
    justify-content: center;
    align-items: center;
}

div#category ul li {
    padding: 30px;
    display: inline-block;
}

div#category ul li:hover a {
    border-bottom: 1px solid #000;
}
/* 카데고리 gnb 끝 */

/* 추천리스트 시작 */
div#goodsPart {
    width: 1000px;
    padding: 20px;
    justify-content: space-between;
}
/* 추천리스트 종료 */

/* 게시판 리스트(추천) 시작*/
#Gallerybbs  main#galleryListArea {
    margin-bottom: 40px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

/* table.goodsTbl 상품 출력용 테이블 시작 */
#Gallerybbs  main#galleryListArea>table {
    text-align: center;
}

#Gallerybbs  main#galleryListArea>table tr {
   width: 1500px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#Gallerybbs  main#galleryListArea>table td {
    color: #5f4a38;
    padding: 0px 0px 0px 20px
}

#Gallerybbs  main#galleryListArea>table#goodsTbl td {
    display: block;
}

#Gallerybbs  #galleryListArea>table td.goodsDesc {
    /* 상품설명 */  
    color: rgba(95, 74, 56, 0.68);  
    font-size: 12px;
}

div.goodsDesc{
   color: rgba(95, 74, 56, 0.68);  
    font-size: 12px;
}

/* table.goodsTbl 상품 출력용 테이블 끝 */
/* 게시판 리스트(추천) 종료*/

/* ######## 일반리스트 시작 ###########*/
div#allclass{
    width: 1000px;
    text-align: center;
    /* font-size: 17px; */
    font-weight: bold;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px dotted #000;
    /* border: 1px solid #000; */
}

#allclass select {
    font-size: 20px;
}

div#BasicList{
width: 100%;
}

/* 게시판 리스트(일반) 시작*/

#Gallerybbs  main#galleryListArea2 {
   width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* table.goodsTbl 상품 출력용 테이블 시작 */
#Gallerybbs  main#galleryListArea2>table.goodsTbl2 {
    text-align: center;
}

#Gallerybbs  main#galleryListArea2>table td {
    color: #5f4a38;
    padding: 0px 0px 0px 16px
    
}


#Gallerybbs  #galleryListArea2>table td.goodsDesc2 {
    /* 상품설명 */  
    color: rgba(95, 74, 56, 0.68);  
    font-size: 12px;
}
/* table.goodsTbl 상품 출력용 테이블 끝 */

/* 게시판 리스트(일반) 종료*/
/* ######## 일반리스트 종료 ###########*/
/*############### 온라인css 종료 ################*/

/*############### 오프라인css 시작 ################*/


/*                          페이징 요소                          */
table.page{
   width: 100%;
   text-align: center;
   padding: 20px;
   cursor:pointer;
   font-size: 18px;
}

/*                          페이징 요소 끝                        */

/* ####### div#Gallerybbs 갤러리 리스트 끝   ########*/

/* div#footerBottom 끝 */
/* footer#footer 끝 */